<h2>A look at soccer in the US</h2>
<div id="slideshow" class="cycle-slideshow" data-cycle-speed='1000' data-cycle-pause-on-hover='true' data-cycle-fx='none' data-cycle-slides=">section">

<% @slides.each do |s| %>

<section id="section" class="slide" name="slide">
		<%= s.name %><br>
		<%= s.desc %><br/>
		<%= s.image_url %><br/>
		<%= s.cite %><br/>
</section>


<% end %>
<br/>
<div style="clear:both">
</div>






