<h1>Intro</h1>

<% if current_user && user_signed_in? %>
<%= link_to 'Skip This', root_path %>
<% end %>


<!-- here's where we add sections for slideshow, each corresponds to a slide panel. Need a Ruby statement, to get all slides, and on each put in a section div %> -->




