<% if user_signed_in? && current_user %>
<ul>
	<li><%= link_to 'soccer in the us', slides_path %></li>
	<li><%= link_to 'Supporters', fan_profiles_path %></li>
	<li><%= link_to 'soccer mom?', parent_profiles_path %></li>
</ul>
<% else %>
	<ul>
	<li><% link_to 'Home', root_path %></li>
</ul>
<% end %>