
<div id="banner">
<div id="greeting-block">
	<div id="snapshot" class="sleeve">
	<header>
		<h3>Hey there,</h3><h1>soccer mom!<%#= current_user.gender%></h1>
	</header>
	<div id="extract-news" class="pending"><h4>PULL NEWS</h4></div>
	<div id="extract-event"class="pending"><h4>PULL EVENT</h4></div>
	<div id="extract-message"class="pending"><h4>PULL MSG</h4></div>
</div>
</div>

<div id="toolbox">
	<h1>TOOLBOX</h1>
	<div id="inbox">inbox, chat icons</div>

<section id="my-calendar">
<div class="sleeve">
<header><h3>SCHEDULE</h3></header>

<p class="pending">upcoming events. registration</p>
</div>
</section>

<section id="my-kid">
<div class="sleeve">
<header><h3>MY KID</h3></header>
<p class="pending">your kid's player profile. No personal info gathered.</p>

</div>
</section>
<section id="my-community">
<div class="sleeve">
<header><h3>COMMUNITY</h3></header>
<p class="pending">local community resources.</p>

</div>
</section>
<section id="training">
<div class="sleeve">
<header><h3>TRAINING</h3></header>
</div>
</section>

<section id="leagues">
<div class="sleeve">
<header><h3>LEAGUES</h3></header>
</div>
</section>



</div>

</div>
</details>

<!-- <div id="calendar-upcoming">
	<h2>Upcoming</h2>
	<p>your kid has a game in  (pending - link to team schedule info</p>
</div> -->

