<!-- 	<div id="match-day">
		<section id="highlights">
		<header><h1>my teams vs someone else</h1></header>
</section>
</div> -->
<details open>
<summary><h5>Local Updates</h5></summary>
<div id="banner">
<div id="greeting-block-narrow">
	<header>
		<h3>Hey there</h3><h1>soccer mom!<%#= current_user.gender%></h1>
		<h4>Isn't it your turn to bring the oranges today?</h4>
	</header>
</div>
<div id="calendar-today">
	<h1>Today</h1>
	<p>your kid has nothing to do today. such a bad mom.</p>
	<h4>it's your turn to to buy oranges today!!!</h3>
</div>
<div id="calendar-upcoming">
	<h2>Upcoming</h2>
	<p>your kid has a game in  (pending - link to team schedule info</p>
	
</div>
</div>
</details>
<section id="my-kid">
<div class="sleeve">
<header><h3>MY KIDS SCHEDULE</h3></header>
</div>
</section>
<section id="my-community">
<div class="sleeve">
<header><h3>COMMUNITY</h3></header>
</div>
</section>
<section id="training">
<div class="sleeve">
<header><h3>TRAINING</h3></header>
</div>
</section>
<section id="my-videos">
<div class="sleeve">
<header><h3>OTHER</h3></header>
</div>
</section>