<header id="splash">
	Logged Out
	<div class="sleeve">
	<div class="intro">
		  <%#= link_to image_tag('https://www.facebookbrand.com/img/assets/asset.facebook.logo.lg.png'), user_omniauth_authorize_path(:facebook)%>

		  <div class="fb-login-button"></div>


		</div>
  </div>
</header>