<header id="splash">
	<div class="sleeve">
	<div class="intro">

				<aside class="left">  	
		  	<%= link_to image_tag('https://s3.amazonaws.com/static.stackmob.com/resources/images/facebook-landing/scrumptious/login_1.png'), user_omniauth_authorize_path(:facebook)%>
				</aside>


				<aside class="center">
				or
				</aside>
				
				<aside class="right">

<!-- 				<div class="fb-login-button"></div>
 -->
					<button class="small">SIGN UP</button>
					<label>Already registered?</label>
					<a class="" href="#">Log In</a>

				</aside>
		
		</div>
  </div>
</header>