<header id="splash">
	<div class="sleeve">
	<div class="intro">

				<aside class="left">  	
		  	<%= link_to image_tag('assets/fb-login.png'), user_omniauth_authorize_path(:facebook)%>
				</aside>


				<div class="separator">
				or
				</div>

				<aside class="right">

<!-- 				<div class="fb-login-button"></div>
 -->
					<button class="small">SIGN UP</button>
					<label>Already registered?</label>
					<a class="" href="#">Log In</a>

				</aside>
		
		</div>
  </div>
</header>