<div class="sleeve">
		<div class="splash">
			<div class="sleeve">
				<header>
					<h1 class="logo">MYCITYFC.COM</h1>
					<h4 class="tagline">Find soccer near you</h4>
				</header>

				<aside class="left login social">
					<%= link_to image_tag('../assets/fb-login.png'), user_omniauth_authorize_path(:facebook)%>
				</aside>
				<aside class="separator">
					<p>or</p>
				</aside>
				<aside class="right login local">
					<!--<div class="fb-login-button"></div>-->
					<button class="medium">Sign Up!</button>
			</aside>

		</div>
	</div>
</div>
