<header id="splash">
	<div class="sleeve">
	<div class="intro">

				<aside class="left">

					<p> Native login coming soon</p>
		  	
				</aside>


				<aside class="right">

							  <div class="fb-login-button"></div>

		  	<%#= link_to image_tag('https://www.facebookbrand.com/img/assets/asset.facebook.logo.lg.png'), user_omniauth_authorize_path(:facebook)%>
				</aside>
		
		</div>
  </div>
</header>