// Place all the styles related to the FanProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*SPECIAL*/


/* elements default to hidden */
#my-teams * .team, #my-teams * .hideme  {display: none};

.team {height: 100%; width: auto; display: block; position: relative; font-size: 1em;color: #FFF; padding: 10px; clear:both}

	.team-overview {height: auto; width: 100%; float: left; border: 1px solid white; padding: 8px;}

		.team-logo {height: 150px; width:150px; background: 0; position: relative; display: inline-block; float: left; text-align:center}
		.team-logo:not(first) 
		.team-info {height:auto; width: 200px; display:inline-block; margin-left: 10px; }
			.team-name {font-size:1.1em}
			.team-venue {}
			.team-venue-image {height: 0px; visibility: hidden; text-indent: -9999px}

			.team.primary {}
		 	.team.secondary {width: 50%;}
		  .team.secondary .team-logo img {height: 50%; width: 50%;}
/*holds espn api info  - not certain what to do with that yet*/
	.team-feed {height: 100%; max-width: 50%; width: auto; float:right; text-align: left;}
			.team-feed nav a.espn-links {color: red; display: none; background: none}


	.team-feed, .team-overview {position: relative; display:inline-block;}

#my-news * .cat {display:none}

