// Place all the styles related to the FanProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*SPECIAL*/


/* elements default to hidden */
#my-teams * .hideme  {display: none};

.team {height: 100%; width: auto; display: block; position: relative; font-size: 1em;color: #FFF; padding: 10px; clear:both}

	.team-overview {height: auto; width: 100%; float: left; border: 1px solid white; padding: 8px;background: #758AA3; display: block; position: relative}

		.team-logo {float: left; text-align:center}
		.team-info {margin-left: 10px; float: left;}
			.team-name {}
			.team-venue {}
			.team-city {}
			.team-venue-image {height: 0px; visibility: hidden; text-indent: -9999px}

			.team-info, .team-logo{height: auto; background: 0; position: relative; display: inline-block;}

			.team-links {margin-top: 10px; float: right; width: 100%; height: auto; display:inline-block; background: gray}

			.team.primary * .team-logo {width:150px;}

		 	.team.secondary {width: 50%;}
		 		.team.secondary .team-overview {background: #425566; border:0}
		 		.team.secondary * .team-logo img {height: auto; width:50%;}
		 		.team.secondary * .team-info * h4 {font-size:12px}
				h5.secondary {margin: 10px; font-size:15px; float: left; clear:both}

/*holds espn api info  - not certain what to do with that yet*/
		.team-feed {height: 100%; max-width: 35%; width: auto; float:right; text-align: left; display:none}
			.team-feed nav a.espn-links {color: red; display: none; background: none}

	.team-feed, .team-overview {position: relative; display:inline-block;}

#my-news * .cat {display:none}

