$bg-main: rgba(135, 169, 181, 0.85);
$header-bg: rgba(255,255,255,.5);
$header-text: #363636;
$bg-dark: rgba(0,0,0,.75);
$text-hover-bg: #262626;
$text-hover-main: #FFF;
$devise-bg: #f2f2f2;

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.notice, .alert {background: orange; color: white; padding: 10px;}

body.default {
	background-image: url(closeup.jpg);
	background-size: 100%;
}
body.bg-default {
	background-image: url(history1.jpg);
}
body.bg-slides {
	background-image: url(history1.jpg);
}
body.bg-parent-profiles { 
	background-image: url(kids1.jpg);
}
body.bg-fan-profiles {
	background-image: url(nyc.jpg);
}

body {
	height: 100%; width:100%; position: fixed;background-size: 100%;
	background-repeat: none;display: block;
}

// body.default * form {background: $bg-dark;}

body.default * form * {color: #252525}

ul {list-style: none; margin: 0; padding:0}
li {display: inline; padding: 5px}

h1,h2,h3,h4,h5,a,li {color: #FFF; font-family: 'BenchNine', sans-serif; text-transform: uppercase; letter-spacing: 1px; font-weight: normal}

body.bg-public {
	h1,h2,h3,h4,h5,p,a,li {color: #363636;}
}

.app-name {font-size: 200%; color: #262626; text-shadow: none; letter-spacing: 1px;}
	
h1#logo {height:1px;margin-left:-10000px;position: relative;}

table {display: block; position: relative;}


/* BEHAVIOR */

.pending {display: none}

// header{height: auto; padding: 0; position: relative; right: 0; background: none;}
// header nav a {height: auto; background: #1f9fff; color: #FFF; display: inline-block;padding: 0; margin:0; position: relative;line-height: normal; float: right}


#wrapper {height: 100%; width: 100%; padding:0; display:block; float: left; overflow: auto;}
#inner-wrapper {height: 100%; width: auto; display: block; margin: 10px;}
#inner-wrapper.public {height: 100%; width: 100%; background: black; z-index:9999}

.sleeve {margin: 20px;}
.inner {margin: 20px;}

header#splash {

	h1 {font-size: 90px;}
	h2 {font-size: 30px; background: $bg-dark;}
}

footer {height: auto; width: 100%; background-color: $bg-dark; position: relative; float: left; display: block; }
// nav {height: auto; display: block; padding: 20px; color: #FFF}

/* toggle match day */

div#match-day {
height: 100%; width: 75%; background: rgba(0,0,0,.8); display: block; position: fixed; left: 10%; right: 10%; top: 0;/*to be changed to :none */z-index:9999; -webkit-transition: width 1s ease-in-out; display: none;

  -webkit-transition: height .5s ease-in-out;
  -moz-transition: height.5s ease-in-out;
  -o-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
  -webkit-box-shadow: 1px 1px 10px black;
   // section#highlights {position: absolute; top: 20px; left: 20px; display:none}
}

#trigger {height: 40px; width: 10%; padding: 10px; background: rgba(0,0,0,.5); position: fixed; left: 10px; right: 10px; top: 0;/*to be changed to :none */z-index:9999; display: block; color:#FFF; float: left;
}

/*top nav*/
#utility-bar {

	height: auto; width: 100%; display: block; 

	#upper {height: 40px; width:100%;
		ul { display: block; text-align: right;}
		* img {margin-top: 4px; height: 20px}
	}
	#lower {background: rgba(135, 169, 181, 0.85); height: 60px; line-height: 60px; width: 100%;
		ul {line-height: inherit}
		ul li a {font-size: 1.5em;}
	}
}

/* toggle header */
details {background: 0; }
details summary h5 {color: #FFF; height: 20px; width: auto; display:block}

#banner {height: auto; display: block; position: relative; background: 0; width:100%; margin-bottom: 10px;

	#greeting-block-wide, #greeting-block-narrow {display:inline-block; float: left;margin: 0px;  position: relative; background:0; 
		h1 {font-size: 80px;}
		h1,h2,h3,h4 { margin:0 20px}
	}

	#greeting-block-wide {
		width: 65%;
		header h3 {color: #FFF;} 
	}

	#greeting-block-narrow {width: 35%;}
	
	#my-teams, #calendar-today, #calendar-upcoming {min-height: 300px; height: auto; display: inline-block; background-color:$header-bg; position: relative; padding:0; width:35%;}

	#calendar-today {background: orange; padding: 20px; width: 25%; float: right}
	#calendar-upcoming {background: yellow; width: 25%; float: left}
}

section#my-news, section#my-kid  {height: 400px; float: left; display: inline-block;position: relative; background: $bg-main; clear:both;}

section#my-news {
	width: 65%;

	// .headlines  {background: red;}
	// .headlines {height: auto; color: #F1f1f1; padding: 10px 0;}
	// .headlines:first-of-type {background: #FFF;color: #000; padding:10px; font-size:1.5em;}
	// .headlines.single:nth-child(even) {background:red}

}


article:nth-child(even) {background: #1f9fff}


section#my-kid {width: 50%;}
section#twitter, section#my-community {height: 400px;  width:35%; display: inline-block;position: relative; 	background: rgba(31, 159, 255, .75); overflow-y: auto; overflow-x:none}
section#my-community {width: 50%;}
section#my-videos, section#fans {height: 400px;  width: 100%; display: block; position: relative; background: rgba(0,0,0,.75); clear:both; float: left; clear:both;}
section#training {height: 400px; background: red}


//temp hide until filter works
// .team:not(:first-of-type){ display: none;}

form {background: rgba(135,169,181,0.75); max-height: 300px; height: auto; width: 300px; margin: 0 auto; padding: 20px;}
form #slideshow section {height: 220px}
form #slideshow.modal * {position: relative;}

form #slideshow.modal * .sleeve {height: 100px; text-align: center;}
form #slideshow.modal * .sleeve aside {height: 60px; display: inline-block; }
form #slideshow.modal * .button {position: relative; }

form {background: #f2f2f2}

form.devise {background-color: $devise-bg}
form.standard {background-color: $bg-main}

form * {color: #363636;}
form * input.button {margin: 0}
form * .button {background: #F8F8F8; font-weight: normal;  color: #262626; border: 0; position: relative;}
form * .button:hover {background: #f9f9f9;color: teal}

form #slideshow.modal .button {width: 100%;}
// form a:hover {background:rgba(135,169,181,.75); color: #fff;}
// .form {height: auto; width: 25%; float: left; }
// .form  {color: #FFF}

#utility-bar  * li:hover {background-color: $text-hover-bg; color: $text-hover-main}


