$font-special:    'BenchNine', Helvetica, Arial, sans-serif;
$font-normal:    Helvetica, Arial, sans-serif;

$bg-main: rgba(135, 169, 181, 0.85);

/* darks */
$black-main: #2ba6cb;

$bg-heavy: rgba(0,0,0,.75);
$bg-medium: rgba(0,0,0,.5);
$bg-light: rgba(0,0,0,.25);

/* lights */
$white-main: #FFF;

$bg-w-heavy: rgba(255,255,255,.75);
$bg-w-medium: rgba(255,255,255,.5);
$bg-w-light: rgba(255,255,255,.25);

/*hovers*/
$hover-bg-change: yellow;

$bg-steel: rgba(66,85,102,1);
$bg-steel-opaque: rgba(66,85,102,.5);
$bg-highlight: rgba(31,159,255,.5);

$bg-item-odd: rgba(117, 138, 163, 0.75);
$bg-item-even: rgba(117, 138, 163, 0.5);


/*temp*/
$tbd: rgba(0,0,0,.25);
$pending: rgba(255,0,0,.5);


@mixin border-radius-top-left($radius) {
-webkit-border-top-left-radius: 15px;
-moz-border-radius-topleft: 15px;
border-top-left-radius: 15px;
}

@mixin border-radius-top-right($radius){
-webkit-border-top-right-radius: 15px;
-moz-border-radius-topright: 15px;
border-top-right-radius: 15px;
}





/* insert reset?*/

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.notice, .alert {background: orange; color: $white-main; padding: 10px;}

body {
	height:100%; 
	width:100%;
	max-width: 1360px;
	background-size: 100%;
	background-repeat: none;
	background-attachment: fixed;
	display: block;
	background-image: url(closeup_flip2.jpg) no-repeat;
	background-color: $bg-steel;
	margin: 0 auto;
	position:relative;
}


.bg-default {
	background: $bg-steel url(closeup_flip2.jpg) no-repeat;
	background-size: 100%;
	background-repeat: none;
	background-attachment: fixed;
}

.bg-fan-profiles {	
	background-size: 100%;
	background-repeat: none;
	background-attachment: fixed;}

.bg-parent-profiles { 
	background-size: 100%;
	background-repeat: none;
	background-attachment: fixed;
	background-image: url(kids1.jpg);
}

.bg-slides {
	background-size: 100%;
	background-repeat: none;
	background-attachment: fixed;
	background-image: url(history1.jpg);
}


 #nav-wrapper {

 	header.logo {display:inline-block; width: 60%; float: left; padding: 20px;
 	* {margin: 0}

	}

 	header.logo h4 {font-size:20px;}
 	header.logo h1 {font-size:48px;letter-spacing: 8px; text-shadow: -1x -1px 1px $bg-steel; color: $white-main}
	header.logo h2 {font-size: 24px; color: yellow; letter-spacing: 4px}
 	nav.public {display:none}

 }

body.bg-default * form * {color: #363636}

table {display: block; position: relative;}

ul {list-style: none; margin: 0; padding:0; line-height: 40px;}
li {display: inline; padding: 5px}

h1,h2,h3,h4,h5,a,li {color: $white-main; font-family: $font-special; letter-spacing: 1px; font-weight: normal}

h1,h2,h3,h4, nav * a, nav * li {text-transform: uppercase}

p {font-family: $font-normal;}

a.offsite:hover {background: $hover-bg-change}

/* TEMP */
.instructions {color: orange}
.pending {background: $pending}

// header{height: auto; padding: 0; position: relative; right: 0; background: none;}
//nav a {height: auto; background: #1f9fff; color: $white-main; font-size:24px; display: inline-block;padding: 0; margin:0; position: relative;line-height: normal; float: right}

#wrapper {height: 100%; width: 100%; padding:0; display:block; float: left; overflow: auto; position: relative; z-index:0}
#inner-wrapper {height: 100%; width: auto; display: block; margin: 10px; margin-top: 0; position: relative;}
#inner-wrapper.public {height: 100%; width: 100%; background: black; z-index:9999}

.sleeve {height: 100%; display:block; margin: 20px; }
.inner {margin: 20px;}


header#splash {
	h1 {font-size: 120px;}
	h2 {font-size: 30px; background: $bg-light;}
}


/* DONT TOUCH */
h3.my-team {display:none}

/*top nav*/

#nav-wrapper {height: auto; width: 100%; display: block; background: $bg-steel-opaque; padding: 0 10px;}

nav {
	height: 40px; width: 100%; display: block; line-height: 40px;		
	* img {margin-top: 4px; height: 20px}
}

nav.account {
	display:inline-block; width: 100%; float:right; background: $bg-steel-opaque;border-bottom: 1px solid $white-main; padding: 0 20px;
}

nav.content {

	height: auto; width: 40%; padding: 20px; padding-left: 0; display:inline-block; float:right;

	ul.left {line-height: 80px}
	ul.left li {height: 100px; width: 20%; padding: 10px; line-height: 100%; float:left}

	ul.left li:nth-child(odd) {background: rgba(31,159,255,.5)}
	ul.left li:nth-child(even) {background: rgba(31,159,255,.55)}
	ul.left li:hover {background: $bg-light; color: $white-main}

	a {height: 100%; width: 1005; float: left; background: 0; color: $white-main; font-size:20px; line-height: 100%}
}


header#banner  {
	height: auto; width: 100%; overflow: hidden; position: relative; margin-bottom:10px; padding-top: 0px; border-top: 1px solid $white-main;

	a.credits {height: auto; width: auto; display: none; position: absolute; float: left; margin-left: 20px;}
	a.credits img {height: 50%; width: 50%;}

	* header.primary-team {padding: 20px 0 0 20px;}
	* article a {font-family: $font-normal; font-size:16px; letter-spacing:0; line-height: normal;}
	* article a:hover {background: $hover-bg-change}
	* .external-links {height: auto}
}


/*SCHEDULE */
/* defaults */
.single-game {height: auto; padding: 10px; margin-bottom: 1px; display: none; float: left; position: relative; z-index:20; background: $white-main;

	* {width: 100px; display:inline-block; /*background: $bg-rev-medium; */line-height: normal; color: a; }

	.game-date {width: 100%; color: #363636}
	.game-home-logo,	.game-away-logo {width: 50px;}
	.game-score {width: 50px;}
	.game-links {width: 100%; padding: 0; color: $white-main; float:right;}

	.field-home-team-logo, .field-away-team-logo {width: auto;}
	.field-home-team-logo img, .field-away-team-logo img {width: 25px}

	.game-away, .game-time {display: inline}
	.game-tv {clear:both}
	.game-links {width: 100%; clear:both; float: left}

	span.separator {width: 40px; text-align:center};
}

/* results */
section#schedule-results {

 * .single-game {display:none; width: 100%}
 * .single-game * {width: auto}
 * .game-tv {display:none}
 * .game-date {width: 35%;}
 * .game-links {width: 100px; float: right; background: #333;}
 * .game-time {display:none}
 * .game-score {text-align:center}
 * .game-home {width: 100px;}
 * .game-away {width: 100px;}
 * .separator {display:none}
 * .clearfix {display:none}

}


/* previews */
header#banner #game-previews {
	
	height: auto; width: 60%; position: relative; display:inline-block; float:left; background: rgba(31,159,255,.1);

	.sleeve {margin:0}
	.gameday-trigger {height: 200px; padding: 10px; margin: 0; width: 100px; margin: 20px 20px 0 0; background: rgba(255,0,0,.9); text-align:center; z-index: 8000;}
	.wrapper {
		height: 40px; width: 180px; margin: auto; float: right; display:block; background: $bg-steel-opaque; @include border-radius-top-left(15px);



	}

	.wrapper:hover {background: $bg-medium; color: $white-main}
	
	 .schedule-trigger {height: auto; padding: 10px; bottom: 0px; color: $white-main; display:inline-block; position: relative; margin: auto;
	 }

	}

	#controls {height: auto; width: 25%; padding: 10px; color: $white-main;  text-align:center; display: none; float:right}


	/*next game only */
	.js-next-game {height: 200px; width: 100%; padding: 20px; display: block; background: transparent}


	.js-next-game.single-game {margin-bottom: 0px; float: left;}
	.js-next-game.single-game * {color: $white-main; width: auto}
	.js-next-game.single-game .game-home,	.js-next-game.single-game .game-away {font-size: 48px; font-family: $font-special; text-transform: uppercase; letter-spacing: 4px}
	.js-next-game.single-game .game-home-logo, 	.js-next-game.single-game .game-away-logo {margin: auto}
	.js-next-game.single-game .game-date {background: 0; display:block}
	.js-next-game.single-game .game-time {display:block; margin-bottom: 10px;}
	.js-next-game.single-game .game-score {display:none}
	.js-next-game.single-game .game-links {width: 100%; margin-top: 20px;}
	.js-next-game.single-game * a {background: $bg-highlight; color: $white-main}
	
	.js-next-game.single-game * a:hover {background: $hover-bg-change; color: $black-main}

	.js-next-game * {background: 0}


/*upcoming games */

#upcoming-games {

	height: 100%; width: 100%; overflow-y: auto; background: $bg-steel-opaque; margin: auto; overflow: auto; position: relative;/*to be changed to :none */z-index: 8500; display: none;
  -webkit-transition: display 1s ease-in-out;
  -moz-transition: display 1s ease-in-out;
  -o-transition: display 1s ease-in-out;
  transition: display 1s ease-in-out;

}

/*schedule filtering*/
#upcoming-games .single-game {
	height: 200px; width:50%; padding: 18px; float: left; margin-bottom: 0;display:inline; background: rgba(117,138,163,.75);
	
	* {color: $white-main}
	* a {background: $bg-highlight; color:$white-main; text-align:center}

	.game-date {font-weight: bold; display:inline; width: 65%;}
	.game-time {display: block; margin-bottom: 10px}
	.game-competition {display:block; width: auto; margin: 10px 0}
	.game-score {display:none}
	.clearfix {display:none}

	.game-links {
	margin-top: 10px;
	a:hover {background: $hover-bg-change}
	}

}




/* NEWS TICKER */
#ticker {height: auto; width: 40%; margin: auto; background: rgba(0,0,0,.1)}
#ticker .sleeve {height: auto; margin: 20px}
#ticker .sleeve header {height: 40px; display:block;
	h4 {margin:0; width: auto; float:left; display:inline-block}
}

#js-headlines {
	height: auto;
	width: 100%;
	margin-bottom: 20px;
	position:relative;
	display:none;
	}

#ticker article:first-child {height: auto;}
#ticker article:not(:first-child) {height: auto;}
#ticker article:not(:first-child) a {font-size: 16px}

#js-headlines article {padding: 10px}
#js-headlines article:nth-child(odd) {background: $bg-item-odd}
#js-headlines article:nth-child(even) {background: $bg-light}
#js-headlines-latest {height: auto; width: 100%; margin-bottom: 20px}
#js-headlines-latest article:first-child a {font-size: 36px; margin: auto; }

footer {height: auto; width: 100%; margin-top: 10px; background-color: $bg-steel-opaque; position: relative; float: left; display: block;}

#js-gameday {height: 0px; width: 100%; margin: 0 auto; display: none; position: absolute; z-index: 9999; 
	.sleeve {height: 400px; width: 800px; margin: auto; position: relative; background: orange; border: 2px solid white}
 }


#ticker, #game-previews {display:inline-block;}

/* TRIGGERS */


.news-trigger {
	background: $bg-steel-opaque; color:$white-main; position: absolute; text-align:center; margin: auto; top: 10px; right: 10px; z-index: 1; height: 40px; width: 120px; padding: 0 10px; line-height: 40px; display: block;

	:hover {background: $bg-medium; color: $white-main}
}

.gameday-trigger {top: 0px; right: 0px; position: absolute}
.gameday-trigger {display:none}


#profile, #local {height: auto; padding: 20px;display: inline-block; position:relative; background: -moz-linear-gradient(top, rgba(0,0,0,0.50) 0%, rgba(0,0,0,0) 75%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.50)), color-stop(75%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0) 75%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0) 75%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0) 75%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0) 75%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */}

#profile {float: left;  position:relative; width:60%; }
#profile header h3 {height: 40px; line-height: 40px;}


section#videos, section#fans, section#players, section#schedule-results {

	height: auto;
	width: 100%;
	display: block;
	position: relative;
	clear:both;
	float:left;
	.sleeve {margin: 20px}
}

// section#schedule-results {max-height: 400px; overflow: auto}
section#videos {

	background: $bg-light;
	.sleeve {margin: 0; float: none}
}

section#fans {background: $bg-highlight; margin-bottom:20px}
section#fans .sleeve header {display: block; position:relative}
section#fans .sleeve aside {
			
		height: auto; 
		display:inline-block;
		position:relative;

		.social, .venues {height: auto; width: 300px; min-height: 200px;margin-bottom: 20px; padding: 10px; background: #363636;}
		}

section#schedule-results .sleeve {margin:0}

section#tbd {height: auto; min-height: 300px; width: 100%; display: block; float: left; background: $tbd;}
section#tbd .sleeve {margin: 20px}


/* GEO */




form {background: rgba(135,169,181,0.75); height: auto; width: 300px; margin: 0 auto; padding: 20px;}
form #slideshow section {height: 220px}
form #slideshow.modal * {position: relative;}
form #slideshow.modal * aside {text-align: center; margin: 5px 0px}

form * .field-group {height: auto; width: 100%; display:block; float:left; margin: 10px 0}

form #slideshow.modal * .sleeve {height: 100px;}
form #slideshow.modal * .sleeve aside {height: 60px; width: 50%; display: inline-block; }
form #slideshow.modal * .button {position: relative; }


form.devise {background: $bg-w-medium}

form.standard {background-color: $bg-main}

form * {color: #363636;}
form * input.button {margin: 0 0 20px 0}
form * .button {background: #F8F8F8; font-weight: normal;  color: #262626; border: 0; position: relative;}

form * .button:hover {background: #f9f9f9; color: teal}

form #slideshow.modal .button {width: 100px}



ul.competitions {height: auto; float: right; margin-right: 10px}

.game-competition {display: none}

.type-all {background: #363636}
.type-mls-reg {background: #f1f1f1;}
.type-mls-playoffs {background: #660000;}
.type-ccl {background: #99ccff}
.type-natl-us {background: #336699}
.type-natl-can {background: #FF0000}

.type-other {background: brown}

li.type-mls-reg {color: #363636}
