// Place all the styles related to the Slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*special*/
#slideshow {height: auto;  overflow: auto; padding: 0!important;clear: both; display: block; color:#262626}
#slideshow section {padding: 20px; height:400px; width: 100%; background: 0; display: block; position: relative;margin: 0 auto; }
#slideshow section figure {float: right;}
#slideshow * {letter-spacing:5px;text-shadow: none; color: #262626}

/* custom user view */
#slideshow h3 { font-size: 40px;  display: inline-block;}
#slideshow h5 {font-size: 20px;}
#slideshow section img {margin: 0 auto;text-align: center;}
// #slideshow section { color: #000000}

#slideshow #impact1 {background-image: url(kids1.jpg);}
#slideshow #impact2 {background-image: url(ld.jpg);}
#slideshow #impact3 {background-image: url(kids4.jpg);}
#slideshow #impact4 {background-image: url(us_v_spain.jpg);}
#slideshow #impact5 {background-image: url(fans.jpg);}
#slideshow #bird {background-image: url(bird.jpg);}

#slideshow * .slide-info {background: white; color: black}
#slideshow * .slide-name{font-weight:bold; background: white; color: black}
#slideshow * .slide-desc{background: white; color: black}
#slideshow * .slide-citation {position: absolute; bottom: 20px; left: 20px}
#slideshow * .figure {width: 50%; float: right}
#slideshow * .slide-info, #slideshow * figure {display: inline-block; width: 40%;}
#slideshow * figure img {display: none}

/* filter out nonsense from the scraped data that Nokogiri didn't pick up.*/
// strong:first-child, strong:nth-child(5){display: none;}
// #slideshow * img, #slideshow * a {display: none}

.user_details {background:rgba(135,169,181,.75); color: #fff; padding: 20px; height: auto; position: relative;}
.user_details div {width: auto;  position: relative;}
.user_details * h5 {display: inline;position: relative; color:#FFF;}





