<div id="game-previews">
	<div class="sleeve">
<header class="primary-team"><h3>Next Game</h3>
</header>
<div id="next-game">
</div>
	<h3 class="my-team"><%= @my_team %></h3>
	<!--match overview-->
	<div class="gameday-trigger"><h4>GAME DAY!</h4><h5>More Info</h5></div>
	<div class="clearfix"></div>
	<div class="wrapper">
	<div class="schedule-trigger"><h4>upcoming games</h4></div>
	<div id="controls">-&nbsp;+</div>
		</div>
	<div id="upcoming-games">
	</div>

</div>
</div>