<div id="game-previews">
	<div class="sleeve">
<div id="next-game"></div>
	<h3 class="my-team"><%= @formatted_team %></h3>
	
<!-- 	<div class="game-summary"></div>
 -->	<%#= @response.each do |record| %>
	<%#= record['location'] %>
	<%#= record['name'] %>
	<%# end %>
	<!--match overview-->
	<div class="gameday-trigger"><h4>GAME DAY!</h4><h5>More Info</h5></div>
	<div class="clearfix"></div>
	<div class="schedule-trigger">UPCOMING GAMES</div>
	<div id="upcoming-games">
	</div>
</div>
</div>