<div id="js-match-day">
	<div class="sleeve">
		<p>Flyout modal. Appears on interval (conditions tbd)</p>

		<%= render 'schedule' %>

		<div class="match-trigger">X</div>



	<div id="game-day-content">

			<div class="sleeve">displays specific content only on game day</div>
			
	</div>


	
	</div>


</div>