<div id="js-match-day">
<div class="sleeve">
<div class="match-trigger">close</div>

	<%= @time %>
	<p class="alert"><%= alert %></p>	
	MATCH DAY INFO. MOVE INTO GLOBAL PARTIAL LATER
	<%= @schedules_mls %>

</div>
</div>