<div id="match-overview">
	<div class="sleeve">

	<p>You are following: <%= @user_team %></p>

	<%#= @response.each do |record| %>

			<%#= record['location'] %>
			<%#= record['name'] %>
		
	<%# end %>

	<!--match overview-->
	<!--It is <%#= @weather %> at the moment. -->
	<%#= current_user.my_team %>Seattle Sounders are playing NY Red Bulls<%#= call value that is result of searching THIS teams's schedule %> on <%# match date %>
	<div class="match-trigger">open panel</div>
</div>
</div>