<div id="js-match-day">
<div class="sleeve">
	
	<%= @today %>

	<% @schedule_mls.each do |this| %>
		<%= this %>
	<% end %>

<div class="match-trigger">close</div>

	<p class="alert"><%= alert %></p>	

</div>
</div>