<div id="match-overview">
	<div class="sleeve">

		<h6>My Team:<%= current_user.primary_team %></h6>
	<p class="alert">
		<%= alert %></p>	

		<%= @my_team %>

<% @schedule.each do |schedule| %>

	<%= schedule %>

<%end%>


	<!--from nokogiri, using for match trigger-->
	<%#= @schedule_mls %>
	<!-- espn api, use tbd. data may be unreliable-->

	<%#= @response.each do |record| %>

			<%#= record['location'] %>
			<%#= record['name'] %>
		
	<%# end %>

	<!--match overview-->
	<!--It is <%#= @weather %> at the moment. -->
	
	<div class="match-trigger">open panel</div>
</div>
</div>