<div id="match-overview">
	<div class="sleeve">

	<h3>My Team:<%= current_user.primary_team %></h3>

	<span>Switch?</span>
  <%= collection_select(:user,:primary_team, Team.all, :id, :name) %>


	<%#= @schedule_mls %>

	<%#= @response.each do |record| %>

			<%#= record['location'] %>
			<%#= record['name'] %>
		
	<%# end %>

	<!--match overview-->
	<!--It is <%#= @weather %> at the moment. -->
	<%#= current_user.my_team %>Seattle Sounders are playing NY Red Bulls<%#= call value that is result of searching THIS teams's schedule %> on <%# match date %>
	<div class="match-trigger">open panel</div>
</div>
</div>