<div id="match-overview">
	<div class="sleeve">
	<!-- db query -->
			<h3 class="my-team"><%= @formatted_team %></h3>
	<!--from nokogiri, using for match trigger-->
		

	<!-- espn api, use tbd. data may be unreliable-->
	<%#= @response.each do |record| %>

			<%#= record['location'] %>
			<%#= record['name'] %>
		
	<%# end %>

	<!--match overview-->
	<!--It is <%#= @weather %> at the moment. -->
	
	<div class="match-trigger">more</div>
</div>
</div>