<div id="match-preview">
	<!-- db query -->
	<div class="g-title">NEXT GAME</div>
	<div class="match-trigger">0</div>

	<h3 class="my-team"><%= @formatted_team %></h3>
	vs
<!-- 	<h3 class="">Another Team</h3>
 -->
	<!-- espn api, use tbd. data may be unreliable-->
	<%#= @response.each do |record| %>
	<%#= record['location'] %>
	<%#= record['name'] %>
	
	<%# end %>
	<!--match overview-->
	<!--It is <%#= @weather %> at the moment. -->
	
</div>