<div id="match-overview">
	<div class="sleeve">

	<h>My Team:<%= current_user.primary_team %></h3>
	<p class="alert"><%= alert %></p>	

	<%#= @schedule_mls %>

	<%#= @response.each do |record| %>

			<%#= record['location'] %>
			<%#= record['name'] %>
		
	<%# end %>

	<!--match overview-->
	<!--It is <%#= @weather %> at the moment. -->
	
	<div class="match-trigger">open panel</div>
</div>
</div>