<div id="match-overview">
	<h2>IT"S MATCH DAY</h2>
	<%= @current_time %>
	<!--It is <%#= @weather %> at the moment. -->
	<!--match overview-->
	good day for a game. click to find out more.
	<div id="match-trigger">full view</div>
</div>