<div id="js-match-day">
	<div class="sleeve">
		<section id="schedule">
			<p class="alert"><%= alert %></p>
	<h3 class="my-team">Following: <%= @my_team %></h3>
		
		</section>
		<div class="match-trigger">close</div>
	</div>
</div>