<div class="news-trigger">open</div>

<div id="ticker">
<div class='sleeve'>
<!-- <div class="g-title">NEWS</div>
 -->
	<div id="js-headlines">
		<!-- ajax -->		
	</div>
		
	</div>	

<a class="credits" href="http://espn.com"><img src="assets/powered-by-espn-black_150.png" height="50%"alt="ESPN.COM" title="Credit:ESPN"/></a>



</div>

