<div class="news-trigger">O</div>

<div class="g-title">NEWS</div>
<div id="ticker">

	<div id="js-headlines">
		<!-- ajax -->		
	</div>
		
</div>


<a class="credits" href="http://espn.com"><img src="assets/powered-by-espn-black_150.png" height="50%"alt="ESPN.COM" title="Credit:ESPN"/></a>

