	<div class="external-links">
	<p>more news</p>

 	<ul>
 		<li><%= link_to "ESPN", "http://espnfc.com/team/_/id/660/united-states?cc=5901", data: { confirm: "Leave MYCITYFC?" }%></li>
 		<li><%= link_to "Soccer by Ives", "http://www.soccerbyives.net/", data: { confirm: "Leave MYCITYFC?" }%></li>
 	</ul>
 </div>