<div id="ticker">
<div class='sleeve'>
	<header><h4>Latest from ESPN</h4><a class="credits" href="http://espn.com"><img src="assets/powered-by-espn-black_150.png" height="50%"alt="ESPN.COM" title="Credit:ESPN"/></a>
</header>
<br/>
	<div id="js-headlines-latest"></div>
	<div id="js-headlines">
		<!-- ajax -->		
	</div>
</div>	
</div>
<div class="news-trigger">more</div>
