<div class="g-title">JUST IN</div>
<div id="ticker">
	
	<div id="headlines">
		<!-- ajax -->
	</div>
	
	<!-- <a class="credits" width="150" href="http://espn.com"><img src="/assets/images/powered-by-espn-black_150.png" alt="ESPN.COM" title="Credit:ESPN"/></a> -->

</div>

<a class="trigger">more?</a>

<div class="external-links">
	<p>more news</p>
	<ul>
		<li><%= link_to "ESPN", "http://espnfc.com/team/_/id/660/united-states?cc=5901", data: { confirm: "Leave MYCITYFC?" }%></li>
		<li><%= link_to "Soccer by Ives", "http://www.soccerbyives.net/", data: { confirm: "Leave MYCITYFC?" }%></li>
	</ul>
</div>