<div id="wrapper">

	<header>

	
		<h2><%= @weather %>forecasted</h2>

		<h2>nice day for a game!</h2>

	</header>


	<section id="my-news">
		<header><h3>NEWS</h3></header>
		<%= @news %>
	</section>

	<section id="my-leagues"> 
	</section>

	<aside>
	</aside>

</div>
