<div id="trigger">Game Day!</div>
<div id="match-day">
	<section id="highlights">
	<header><h1>my teams vs someone else</h1></header>
</section>
</div>
<details open>
<summary><h5>What's Happening Today?</h5></summary>
<div id="banner">
	<div id="greeting-block-wide">
	<header>
		<h3>Hi</h3>
		<h1><%#= current_user.first_name %></h1>
		<h1><%= @weather %></h1>
		<h3>in<%#= current_user.city %></h3>
		<h2>looks like a nice day for a game!</h2>
	</header>
	</div>
	<section id="my-teams">
	<div class="sleeve">
	<header><h3>MY MLS</h3></header>
	</div>
	</section>
</div>
</details>
<div class="clearfix"></div>
<section id="my-news">
<div class="sleeve">
<header><h3>NEWS</h3></header>
</div>
</section>
<section id="twitter">
<div class="sleeve">
<header><h3>Tweets and shit</h3></header>
</div>
</section>
<section id="my-videos">
<div class="sleeve">
<header><h3>FIND A SUPPORTERS CLUB</h3></header>
</div>
</section>