<div id="trigger">Game Day!</div>
<div id="match-day">
	<section>

	<%#= @current_time %>
  <p class="alert"><%= alert %></p>

	<%= @schedules_mls %>
	
	</section>
	<aside class="right">match info
		<details>time, day, etc</details></aside>

</div>


<details open>
<summary><h5>toggle</h5></summary>
<div id="banner">
	<div id="greeting-block-wide">
	<header>
		<h3>Hi <%#= current_user.first_name %>!</h3>
		<h1>It's <%= @weather %></h1>
		<h3>at the moment. Looks like a nice day for a game!</h3>
	</header>
	</div>
	<section id="my-teams">
	<div class="sleeve">
	<header><h3>MLS Teams Near You!</h3></header>	
	<nav></nav>
	</div>
<!-- 
	<div id="geo">
		<%# @myteams.each do |t| %>
		<%#= t.name %>
		<%# end %>
	</div> -->

	</section>



</div>

</details>
<div class="clearfix"></div>
<section id="my-news">
<div class="sleeve">
<header><h3>NEWS</h3></header>
</div>
</section>
<section id="twitter">
<div class="sleeve">
<header><h3>INTERACT WITH PLAYERS</h3></header>
<article></article>
</div>
</section>

<section id="my-videos">
<div class="sleeve">
<header><h3>FIND A SUPPORTERS CLUB</h3></header>
</div>
</section>