<div id="match-day">
<section id="highlights"></section>


<section id="highlights"></section>
<section id="highlights"></section>

</div>

<div id="wrapper">
	<div id="inner-wrapper">
		<details open>
		<summary><h5>Local Updates</h5></summary>
		<div id="banner">
			<div id="messages">
				<header>
					<h5>Hi</h5>
					<h1><%# current_user.first_name %></h1>
						<%= @weather %>
					
					<h3>forecast for <%#= current_user.city %></h3>

					<h3>nice day for a game!</h3>
				</header>
			</div>
			<div id="twitter">
			<header><h5>Follow the footballer!</h5></header>
		</div>
		</div>
		</details>

	<section id="my-news">
		<div class="sleeve">
		<header><h3>NEWS</h3></header>
		</div>
	</section>

	<section id="my-leagues">
	<div class="sleeve">
	<header><h3>LEAGUE</h3></header>
	</div>
	</section>

	<section id="my-other">
		<div class="sleeve">
		<header><h3>OTHER</h3></header>
		</div>
	</section>
</div>
</div>