<div id="wrapper">

	<header>

		<%#= @temp %>

		<h2><%#= get_weather.rain %>forecasted</h2>

		<h2>nice day for a game!</h2>

	</header>


	<section id="my-news">
		<header><h3>NEWS</h3></header>
		<!--write controller method to get and display local news for user-->
	</section>

	<section id="my-leagues"> 
		<header><h3>LEAGUE INFO</h3></header>
		<!--write controller method to get and display local leagues for user. Eventually need to have user be able to select pro / amateur / semi / etc -->
	</section>

	<aside>
	</aside>

</div>
