<div id="wrapper">
	<div id="inner-wrapper">
	<header id="banner">
		<%#= current_user.city %>
		<h2><%= @weather %>forecasted</h2>
		<h2>nice day for a game!</h2>

	</header>


	<section id="my-news">
		<header><h3>NEWS</h3></header>
		<%= @news %>
	</section>

	<section id="my-leagues">
		<header><h3>LEAGUE</h3></header>
		<%= @leagues %>
	</section>

	<aside>
	</aside>
	</div>
</div>