<div id="trigger">Game Day!</div>
<div id="match-day">
	<section>
	<header><h1>my teams vs someone else</h1></header>
	<%# @matches.each do |match|%>
	<%#= match.home vs match.away %>
	

	<%# end %>
	<article>test</arcticle><figure>test</figure>
	
	</section>
	<aside class="right">match info
		<details>time, day, etc</details></aside>

</div>


<details open>
<summary><h5>toggle</h5></summary>
<div id="banner">
	<div id="greeting-block-wide">
	<header>
		<h3>Hi <%= current_user.first_name %>!</h3>
		<h1>It's <%= @weather %></h1>
		<h3>at the moment. Looks like a nice day for a game!</h3>
	</header>
	</div>
	<section id="my-teams">
	<div class="sleeve">
	<header><h3>MY MLS</h3></header>	
	<nav></nav>
	</div>
	</section>
</div>

</details>
<div class="clearfix"></div>
<section id="my-news">
<div class="sleeve">
<header><h3>NEWS</h3></header>
</div>
</section>
<section id="twitter">
<div class="sleeve">
<header><h3>Tweets and shit</h3></header>
</div>
</section>
<section id="my-videos">
<div class="sleeve">
<header><h3>FIND A SUPPORTERS CLUB</h3></header>
</div>
</section>